# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
routed-anecdotes/node_modules
routed-anecdotes/.pnp
country-hook/node_modules
country-hook/.pnp
ultimate-hooks/node_modules
ultimate-hooks/.pnp
bloglist-redux/backend/node_modules
bloglist-redux/backend/.pnp
bloglist-redux/bloglist-frontend/node_modules
bloglist-redux/bloglist-frontend/.pnp
.pnp.js

# testing
routed-anecdotes/coverage
country-hook/coverage
ultimate-hooks/coverage
bloglist-redux/backend/coverage
bloglist-redux/bloglist-frontend/coverage

# production
routed-anecdotes/build
country-hook/build
ultimate-hooks/build
bloglist-redux/backend/build
bloglist-redux/bloglist-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

routed-anecdotes/.vscode
country-hook/.vscode
ultimate-hooks/.vscode
bloglist-redux/backend/.vscode
bloglist-redux/bloglist-frontend/.vscode
.vscode